<div class="h-screen w-full flex items-center justify-center bg-gray-100 dark:bg-gray-900 px-4 sm:px-6 lg:px-8">

    <div class="w-full max-w-md bg-white dark:bg-gray-800 p-8 rounded-3xl shadow-2xl space-y-6">
      
      <!-- Heading -->
      <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-800 dark:text-white">Change Password</h2>
        <p class="text-sm text-gray-500 dark:text-gray-300 mt-1">Keep your account secure by updating your password</p>
      </div>
  
      <!-- Form -->
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="space-y-5">
        
        <!-- Current Password -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Current Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="currentPassword"
            placeholder="Enter your current password"
          />
        </mat-form-field>
        @if ( passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword')?.touched) {
          <mat-error >
            Current Password is required
          </mat-error>
        }
      
  
        <!-- New Password -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>New Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword"
            placeholder="Enter a new password"
          />
        </mat-form-field>
        @if ( passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched) {
          <mat-error >
            Password must be at least 6 characters
          </mat-error>
        }               
        @if ( passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched) {
          <mat-error >
            Password is required
          </mat-error>
        }
     
        <!-- Confirm Password -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirm New Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm your new password"
          />
   
        </mat-form-field>
           <!-- Confirm password -->
           @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched) {
            <mat-error >
                Passwords do not match
              </mat-error>
            }
      
   
        <!-- Submit Button -->
        <button
          mat-raised-button
          color="primary"
          class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-xl py-2 shadow-lg transition duration-200 ease-in-out"
          [disabled]="passwordForm.invalid"
        >
          Update Password
        </button>
      </form>
    </div>
  </div>
  