/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

simple-snack-bar {
    justify-content: center !important;
  }
  
  .mat-snack-bar-custom-alert-success {
    border: 2px solid green !important;
    background-color: white !important;
    color: green !important;
    mat-icon{
      color: green !important;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .mat-snack-bar-custom-alert-error {
    border: 2px solid red !important;
    background-color: white !important;
    color: red !important;
    mat-icon{
      color: red !important;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .mat-snack-bar-custom-alert-warning {
    border: 2px solid #DF8C32FF !important;
    background-color: white !important;
    color: #DF8C32FF !important;
    mat-icon{
      color: #DF8C32FF !important;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .mat-snack-bar-custom-alert-info {
    border: 2px solid #DBEDF2FF !important;
    background-color: #55667CFF !important;
    color: #DBEDF2FF !important;
    mat-icon{
      color: #DBEDF2FF !important;
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }